<div class="text-left m-t-1 f-s-middle">
  <%= link_to "検索", root_path %> > 結果一覧
</div>
<h1>検索結果</h1>
<ul class="list-group list-group-flush">
  <% @restaurants.each do |restaurant| %>
    <li class="list-group-item m-b-1 flex">
      <div class="with-30">
        <p><img src="<%= restaurant["photo"]["pc"]["l"] %>" class="image-fit" alt="サムネイル"></p>
      </div>
      <div class="text-left m-l-1 with-70">
        <%= link_to "/restaurant?id=#{restaurant["id"]}" do %>
          <p class="restaurant-name"><%= restaurant["name"] %></p>
        <% end %>
        <p>アクセス: <%= restaurant["access"] %></p>
      </div>
    </li>
  <% end %>
  <%= paginate @restaurants %>
  <div class="text-left m-t-1 m-b-1 f-s-middle">
    <%= link_to "<<検索に戻る", root_path %>
  </div>
</ul>